{var $robots = noindex}

{block header}Přihlášení{/block}

{block head}
<style type="text/css" n:syntax="off">
form {width: 550px; margin: 1em auto;}
form th {text-align: right}
</style>
{/block}

{define menuright}{/define}

{block #content}

{control signInForm}

{/block}
